<header>
  <div class="jumbotron text-center">
    <h1 class="display-4">Weather App</h1>
    <p class="lead">Your one stop application for all weather data</p>
    <hr class="my-4" />

    <!-- FORM COMPONENT -->
    <form class="d-flex flex-wrap justify-content-center" id="search-form">
      <div class="m-3">
        <label for="city-name" class="visually-hidden">Password</label>
        <input
          type="text"
          class="form-control"
          id="city-name"
          placeholder="Enter city name"
        />
      </div>
      <div class="m-3">
        <button type="submit" class="btn btn-primary mb-3">Search</button>
      </div>
    </form>
  </div>
</header>